<h1>API v.1.0.1</h1>

<p>
  Available users/passwords are: <b>admin/password</b>, <b>user/password</b>
  and <b>guest/password</b>
<p>

<p>
  API endpoints:
  <ul>
    <li><b>POST, GET, UPDATE, DELETE</b> /api/posts</li>
    <li><b>GET</b> /api/posts/:post_id/comments</li>
    <li><b>POST, GET, UPDATE, DELETE</b> /api/comments</li>
    <li><b>GET</b> /api/users</li>
  </ul>
</p>

<p>
  The API is versioned.
  You should send your requests with a <b>Accept: application/vnd.thecompany+json;version=1</b>
  header, along with <b>Content-Type: application/json</b> when needed.
</p>
