<h1>API v.1.0.1</h1>

<p>
  Available users/passwords are: <b>admin/password</b>, <b>user/password</b>
  and <b>guest/password</b>
<p>

<p>
  API endpoints:
  <ul>
    <li><b>POST, GET, UPDATE, DELETE</b> /api/v1/posts</li>
    <li><b>POST, GET, UPDATE, DELETE</b> /api/v1/comments</li>
    <li><b>GET</b> /api/v1/users</li>
  </ul>
</p>
